<h1 class="titulo">Pagina Principal</h1>


<h4>localhost:8080/realtimeproducts</h4>

<h2>Productos</h2>
<h4>localhost:8080/products</h4>
<h4>localhost:8080/api/products</h4>
<h4>localhost:8080/api/products/:pid </h4>

<h2>Chat</h2>
<h4>localhost:8080/chatMessages</h4>

<h2>Carrito</h2>
<h4>localhost:8080/api/carts/:cid</h4>



{{!-- <h4 class="subtitulo" method="get">Lista de productos</h4>
<p>Nombre: {{title}}</p>
<p>Descripcion: {{description}}</p>
<p>Stock: {{stock}}</p>
<p>Codigo: {{code}}</p>
<p>Precio: {{price}}</p> --}}


<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
