<h1 class="titulo">Pagina Principal</h1>

<h4 class="subtitulo" method="get">Lista de productos</h4>
<p>Nombre: {{title}}</p>
<p>Descripcion: {{description}}</p>
<p>Stock: {{stock}}</p>
<p>Codigo: {{code}}</p>
<p>Precio: {{price}}</p>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
