<h4>Productos Faker</h4>

<form method="post" action="/api/products/mockingproducts">

    <p name="id">Nombre: {{id}}</p>
    <p name="title">Nombre: {{title}}</p>
    <p name="price">Precio: {{price}}</p>
    <p name="stock">Stock: {{stock}}</p>
    <p name="image">Imagen: {{image}}</p>
    <p name="code">Codigo: {{code}}</p>
    <p name="description">Descripcion: {{description}}</p>

</form>

 