<h1>Productos</h1>

<form class="products" method="get" action="/products">
    <p name="title">Nombre: {{title}}</p>
    <p name="id">Id: {{id}}</p>
    <p name="description">Descripcion: {{description}}</p>
    <p name="price">Precio: {{product.price}}</p>
    <p name="code">Codigo: {{product.code}}</p>
    <p name="stock">Stock: {{product.stock}}</p>
    <p name="category">Categoria: {{product.category}}</p>
    <button type="submit" name="addCart">Agregar al carrito</button>
</form>


<script src="socket.io/socket.io.js"></script>
<script src="/js/products.js"></script> 