<h1>Productos</h1>


<div class="products" method="get">
    <p name="title">Nombre: {{title}}</p>
    <p name="description">Descripcion: {{description}}</p>
    <p name="stock">Stock: {{stock}}</p>
    <p name="code">Codigo: {{code}}</p>
    <p name="price">Precio: {{price}}</p>
    <button type="submit" name="addCart">Agregar al carrito</button>
</div>


<script src="socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>