<h1>Pagina de perfil</h1>

<h2>Bienvenido, {{user.email}}</h2>

{{#if isAdmin}}
 <h3>Perfil</h3>
    {{#each}}
        <p>Nombre: {{user.first_name}}</p>
        <p>Apellido: {{user.last_name}}</p>
        <p>Edad: {{user.age}}</p>
    {{/each}}
{{else}}
    <h3>No tienes permiso para ver este contenido. Tu rol es {{user.role}}</h3>
{{/if}}


